@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
    --breakpoint-sm: 639px;
    --breakpoint-md: 767px;
    --breakpoint-lg: 1150px;
    --breakpoint-xl: 1440px;
}