@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
    --breakpoint-*: initial;
    --breakpoint-xl: 1401px;
    --breakpoint-lg: 1151px;
    --breakpoint-md: 768px;
    --breakpoint-sm: 640px;
    --breakpoint-xs: 394px;
}
